*{
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background:linear-gradient(50deg,#f46778,#7462ff,#90f78e,#f8c45c);
    background-size: 300% 300%;
    animation: color 10s ease-in-out infinite;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.form{
    width: 380px;
    height: 350px;
    border: 1px solid linear-gradient(50deg,#7462ff,#90f78e);
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.24), 0 20px 50px 0 rgba(0,0,0,0.19);
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 39px 20px 15px 20px;
}
.heading h1{
    font-size: 30px;
    font-style: bold;
    font-weight: 600;
}
.info{
    display:block;
    align-items: center;
    justify-content: center;
    margin: 28px 40px;
}
.info p{
    font-size: 12px;
    font-weight: 500;
}
.label{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-left: -180px;
    margin-top: 28px;
    margin-bottom: 5px;
}
.label span{
    font-size: 14.80px;
    font-weight: 500;
    font-style: bold;
}
.input{
    display: flex;
    align-items: center;
    border:1.3px solid #123456;
    width:305px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 25px;
    background-color: #fff;
    height: 30px;
    border-radius:10px;
}
.input img{
    width: 22px;
    margin-left:5px;
    margin-right: 5px;
}
.input input{
    width:85%;
    border:0;
    outline:none;
    padding:0;
    padding-bottom: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.input input::placeholder{
    text-align: left;
    margin: 3px;
}
.input:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.20), 0 6px 20px 0 rgba(0,0,0,0.1);
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:25px;
    margin-top: 10px;
    padding: 0;
}
.btn input{
    width:80%;
    height: 40px;
    border:1px solid rgb(145, 160, 60);
    border-radius:15px;
    color:#fff;
    background-color:rgb(145, 160, 60);
    font-size: 16px;
    cursor:pointer;
}
.btn input:hover{
    box-shadow:  0 6px 20px 0 rgba(0,0,0,0.2), 0 8px 16px 0 rgba(0,0,0,0.1);
}
.form label{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
}
.form label a{
    font-size:14px;
    font-weight:500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color:#19232d;
}
.form label a:hover{
    border-bottom: 1px solid #19232d;
}